<!--
  Generated template for the ShopsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding>

    <ion-searchbar (ionInput)="filterItems($event)" (ionClear)="onClear()" debounce = "600"></ion-searchbar>
  <br>
  <ion-title>List of Shops</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col col-12 no-padding *ngFor = "let agent of agents">

              <ion-card (click)="click( agent.id )">
                  <ion-grid>
                      <ion-row>
                        <ion-col col-4 no-padding>
                              <img src="http://127.0.0.1:8000/storage/images/{{agent.image}}">
                        </ion-col>
                        <ion-col col-8 no-padding>
                          <ion-card-header>
                            {{ agent.name }}
                          </ion-card-header>

                          <ion-card-content>
                            {{ agent.description }}
                          </ion-card-content>
                        </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
