.md {
page-shopinfo {

  ion-card {
    img.shop {
      min-height: 242px;
      max-height: 242px;
      min-width: 291px;
      max-width: 291px;
    }

    img.prod {
      min-height: 130px;
      max-height: 130px;
      min-width: 130px;
      max-width: 130px;
    }
  }

  }

}
