<!--
  Generated template for the ShopinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf = "shop">{{ shop.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
    <ion-card class="shop" *ngIf = "shop">
        <img src ="http://127.0.0.1:8000/storage/images/{{shop.image}}">
      </ion-card>
  <ion-list *ngIf = "shop">
    <ion-item><strong>Email:</strong> {{ shop.email }}</ion-item>
    <ion-item><strong>About:</strong> {{ shop.description }}</ion-item>
    <ion-item><strong>Address:</strong> {{ shop.address }}</ion-item>
  </ion-list>

  <ion-title>Products</ion-title>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col col-6 no-padding *ngFor = "let product of products">
        <ion-card >
          <img class="prod" src="http://127.0.0.1:8000/storage/images/{{product.image}}">
          <ion-card-header>
            {{ product.name }}<br>
            <h5>₱{{ product.price}}</h5>
          </ion-card-header>

          <ion-card-content>
            {{ product.description }}
          </ion-card-content>

        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
