<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Products" tabIcon="pricetag"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Shops" tabIcon="basket"></ion-tab>
</ion-tabs>
