<ion-header>

</ion-header>

<ion-content padding>
  <!-- <ion-searchbar (ionInput)="filterItems($event)" (ionClear)="onClear()" debounce = "600"></ion-searchbar> -->
<br>
<ion-title>Featured Products</ion-title>
<ion-grid>
  <ion-row>
    <ion-col col-6 no-padding *ngFor = "let product of featured_product">

      <ion-card>
        <img class ="prod" src="http://127.0.0.1:8000/storage/images/{{product.image}}">
        <ion-card-header>
          {{ product.name }}<br>
          <h5>₱{{ product.price}}</h5>
        </ion-card-header>

        <ion-card-content>
          {{ product.description }}
        </ion-card-content>

      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

<ion-title>Featured Shop</ion-title>
<ion-grid>
  <ion-row>
    <ion-col no-padding *ngFor = "let shop of featured_shop">

      <ion-card>
          <ion-grid>
              <ion-row>
                <ion-col col-4 no-padding>
                      <img src="http://127.0.0.1:8000/storage/images/{{shop.image}}">
                </ion-col>
                <ion-col col-8 no-padding>
                      <ion-card-header>
                        {{ shop.name }}
                      </ion-card-header>
                      <ion-card-content>
                        {{ shop.description }}
                      </ion-card-content>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
