<!--
  Generated template for the ProductinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf = "product">{{ product.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card class="prod" *ngIf = "product">
  <img src ="http://127.0.0.1:8000/storage/images/{{product.image}}">
  </ion-card>
  <ion-list *ngIf = "product">
    <ion-item><strong>Price:</strong> ₱{{ product.price }} </ion-item>
    <ion-item><strong>Description:</strong> {{ product.description }}</ion-item>
  </ion-list>
  <h4>A product by:</h4>
  <ion-grid>
      <ion-row>
        <ion-col col-12 no-padding *ngIf = "shop">

                <ion-card>
                    <ion-grid>
                        <ion-row>
                          <ion-col col-4 no-padding>
                                <img src="http://127.0.0.1:8000/storage/images/{{shop.image}}">
                          </ion-col>
                          <ion-col col-8 no-padding>
                            <ion-card-header>
                              {{ shop.name }}
                            </ion-card-header>

                            <ion-card-content>
                              {{ shop.description }}
                            </ion-card-content>
                          </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
