.ios, .md {

page-products {

  ion-title {
    text-align: center!important;
    font-size: 16px;
   }

   ion-card {
    img {
      min-height: 130px;
      max-height: 130px;
      min-width: 130px;
      max-width: 130px;
    }
  }

   ion-footer {
    .button-full-md {
      max-height: 30px;
    }
   }

}

}
