<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="filterItems($event)" (ionClear)="onClear()" debounce = "600"></ion-searchbar>
<br>
<ion-title>Products List</ion-title>
<ion-grid>
  <ion-row>
    <ion-col col-6 no-padding *ngFor = "let product of products">
      <ion-card (click)="product_info( product.id )">
        <img src="http://127.0.0.1:8000/storage/images/{{product.image}}">
        <ion-card-header>
          {{ product.name }}<br>
          <h5>₱{{ product.price}}</h5>
        </ion-card-header>

        <ion-card-content>
          {{ product.description }}
        </ion-card-content>

      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

</ion-content>

<ion-footer>
  <ion-title>{{name}}</ion-title>
  <button ion-button full (click)="categories()">Categories</button>
</ion-footer>
